@charset "UTF-8";

/* BASICS */

body {
  height: 100%;
  font-family: Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;
  background: #222222 url("https://i.imgur.com/cbbBr5y.jpg") no-repeat left top;
  background-size: cover;
  color: white;
  text-align: center;
  margin:auto;
}

.container {
  font-family: Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;
  color: white;
  text-align: center;
  margin: auto;
  margin-top: 8%;
}

ol, ul {
	list-style: none;
}
	
article, nav {
  display: block;
}

body, input, select, textarea {
	color: #ffffff;
	font-size: 1rem;
}
	
a {
	-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	text-decoration: none;
	color: white;
}

a:hover {
  color: Coral;
  text-decoration: none;
}

/* HEADER */

h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

header {
  margin: auto;
  width: 50%;
  text-align: center;
  overflow: auto;
  max-width: 90%
}

.box {
  border-top: 1px solid white;
  border-bottom:1px solid white;
  padding: 2rem;
}

/* MAIN */



/* NAVIGATION */

nav ul {
  padding-left: 0px;
}

nav ul li {
  text-transform: uppercase;
  padding: .5rem;
  margin: .5rem;
  border: 1px solid white;
  text-align: center;
  width: 8rem;
  margin: 1rem auto;
  display: inline-block;
}

nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: white;
}

nav ul li a:hover {
  text-decoration: none;
  color: Coral;
}

nav ul li a:active {
  background-color: rgba(255, 255, 255, 0.175);
}

/* FOOTER */

footer {
  color: LightGrey;
  left: 46%;
  position: fixed;
  bottom: 2rem;
}